@import "vars"


@media only screen and (max-width: 1800px)
  .wrapper-photo__doctor
    width: 52%

@media only screen and (max-width: 1650px)
  .slick-prev
    left: -50px

  .slick-next
    right: -50px

  .main-page__slider
    width: 690px

@media only screen and (max-width: 1400px)
  .container
    max-width: 1170px

  .menu-main__links
    font-size: 14px

  .menu__item-still
    display: block

  .menu__item
    &:last-child, &:nth-child(8)
      display: none

  .photo-demonstration__photo
    width: 236px
    height: 315px

  .period-photo
    top: 10px
    right: 10px

  .about-doctor__content
    max-width: 570px
    margin: 0 0 82px

  .about-doctor
    &:before
      width: 1837px
      left: -155px
      transform: translate(0)

  .about-doctor__img
    margin: 0 48px 0 19px

  .specialist-box, .last-blog__box
    &:last-child
      display: none

  .name-sale
    font-size: 55px

  .join
    padding: 160px 0

  .main-page__content
    max-width: 520px

  h1
    font-size: 40px
    padding: 0 0 15px
    margin: 0 0 20px

  .menu-scroll
    margin: 0 0 30px
    max-width: none

  .list-characteristics li
    margin: 0 0 15px

  .sale-box
    width: 76px
    height: 76px
    top: 11px
    left: 407px
    font-size: 25.5px
    letter-spacing: 1.28px
    &:before
      width: calc(100% - 6px)
      height: calc(100% - 6px)
    sub
      font-size: 14px
      letter-spacing: 0.7px

  .main-page__slider-description
    left: 148px
    width: 342px
    height: 106px
    padding: 16px 50px 18px 21px
    .size-sale
      display: none
    .services-sale__name
      font-size: 23px
      letter-spacing: 1.15px
      line-height: 1.2

  .clinic-about-video
    .clinic-video
      width: 490px
    .video-box
      height: 329px
    .bg-overlay3
      width: 403px
      height: 330px
    .bg-overlay2
      width: 432px
      height: 331px
    .bg-overlay1
      width: 461px
      height: 331px

  .clinic-about .description
    margin: 86px 0 0

  .tools-services__box ul li
    width: 50%

  .other-services__box
    margin: 0 auto

  .answer-doctor
    display: none

  .popular-question__box
    width: 100%
    margin: 0 0 70px

  .certificate-sale__box
    width: 321px
    height: 229px
    padding: 29px 20px
    &:before
      width: 301px
      height: 207px
    &:after
      width: 166.5px
      height: 159.5px
    .name-company
      width: 174px
    h3
      font-size: 33px
      letter-spacing: 3.3px
    .price
      letter-spacing: 3.7px
      font-size: 37px
      padding: 15px 0
      &:before, &:after
        width: 186px
        height: 23px

  .wrapper
    height: 100%
    position: relative
    min-height: auto
    flex-wrap: wrap
    margin: 0


  .wrapper-photo__doctor
    display: none

  .main-page__doc-img
    display: flex
    align-items: center
    justify-content: flex-end
    width: 339px
    margin: 0 0 0 auto

  .mCSB_inside>.mCSB_container
    margin: 0

  .wrapper-content
    width: 100%
    padding: 0
    overflow-y: visible

  .specialist__doc
    .specialist-box
      display: block

  .wrapper-content .container
    max-width: 1170px
    margin: 0 auto

  .main-page__doc
    .main-page__content
      max-width: 660px
      padding: 0

  .wrapper-content h2
    text-align: center
    margin: 0 auto 30px
    padding: 0 0 28px
    &:before
      left: 50%
      transform: translate(-50%,0)

  .wrapper-content .slick-slider
    padding: 0

  .wrapper-content .slick-slider .slick-prev
    left: -30px

  .wrapper-content .slick-slider .slick-next
    right: -30px

  .wrapper-content .photo-demonstration__photo
    width: 236px
    height: 315px

  .wrapper-content .period-photo
    top: 10px
    right: 10px
    width: 60px
    height: 60px
    font-size: 16px

  .wrapper-content .reviews .container, .certificate.p-40 .container, .wrapper-content .specialist .container
    padding: 70px 15px

  .wrapper-content .photo-demonstration
    padding: 70px 0

  .specialist__doc
    .slide
      &:last-child
        display: none

@media only screen and (max-width: 1320px)
  .form
    label
      width: 49%
    .form-box__time
      label
        width: 100%


  .modal__div .modal__wrapper
    max-width: 1030px

  .form-box
    padding: 0 34px 0 0

  .slick-prev
    left: -10px

  .slick-next
    right: -10px

  .photo-demonstration__slider
    padding: 0 20px 56px

  .main-page__slider
    right: -120px

  .w-60-tablet
    width: 59%

  .w-40-tablet
    width: 39%

@media only screen and (max-width: 1199px)
  header
    .list-social, .btn-search
      display: none
    .line
      display: flex
      align-items: center
      .btn-search
        margin: 0 44px 0 0
        display: flex
      .list-social
        display: flex

  .header-contacts__box
    margin: 0 0 22px

  .btn-burger
    display: flex

  .menu-main__nav
    display: none
    position: fixed
    left: 50%
    top: 0
    transform: translate(-50%,0)
    max-width: 1000px
    width: 100%
    height: 100%
    background: #fff
    z-index: 101
    margin: 0 auto
    padding: 10px
    overflow-y: auto

  .menu-main
    height: auto
    width: 100%
    margin: 0 auto


  .menu-main__links
    font-size: 16px

  .btn-close
    display: flex
    align-items: center
    justify-content: center

  .main-slider__img
    width: auto
    height: 100%

  .main-slider .slide
    padding: 80px 0 145px
    img
      width: auto
      height: 100%

  .main-slider__content
    max-width: 730px

  .main-slider__title
    font-size: 45px
    letter-spacing: 2.25px
    padding: 0 0 35px

  .clinic-about
    padding: 70px 0 130px

  .clinic-about

    .clinic-about__content
      flex-direction: column
      align-items: center
      h3
        text-align: center

  .why-are
    padding: 0
    width: 100%
    display: flex
    margin: 0 0 40px
    flex-wrap: wrap
    h3
      width: 100%

  .why-are__box
    width: 50%

  .about-doctor:before
    left: -270px

  footer
    .button-group
      flex-direction: column
      align-items: center
      .btn
        margin: 0 0 24px
        &:last-child
          margin: 0

  .drop-menu__box
    margin: 0 0 20px

  .main-page__content
    max-width: 630px

  .main-page__slider
    right: 0
    position: relative
    width: 100%

  .main-page__slider-img
    width: 100%

  .main-page__slider .slick-prev
    left: 42px

  .main-page__slider .slick-next
    left: 96px


  .main-page__slider-description
    left: auto
    right: 40px
    width: 609px
    padding: 20px 20px 13px
    height: 106px
    .size-sale
      display: block

  .main-page__slider-img
    margin: 0 auto

  .sale-box
    width: 145px
    height: 145px
    top: 27px
    left: auto
    right: 40px
    font-size: 45px
    letter-spacing: 2.25px
    &:before
      width: calc(100% - 14px)
      height: calc(100% - 14px)
    sub
      font-size: 25px
      letter-spacing: 1.25px

  .clinic-about-video
    padding: 70px 0
    .clinic-video
      margin: 0 auto 45px
    .bg-overlay3
      top: 45px
    .bg-overlay2
      top: 30px
    .bg-overlay1
      top: 15px
    .playpause
      width: 45px
      height: 45px
      bottom: 21px
      left: 21px
      img
        width: 19px

  .clinic-about .description
    margin: 40px 0 0

  .main-page__doc-img
    width: 253px
    position: absolute
    bottom: 0
    right: 0

  .tabs__caption
    margin: 0 0 112px

  .main-page__doc
    .button-group
      flex-direction: column
      align-items: flex-start
      margin: 0 0 90px
      .btn
        margin: 0 0 40px
        &:last-child
          margin: 0

  .tabs__content
    max-width: 495px

@media only screen and (max-width: 1040px)
  .photo-demonstration__wrap
    max-width: 650px
    width: 100%

  .photo-demonstration__photo
    height: 414px
    width: 310px

  .reviews
    .line
      .links-accent
        white-space: nowrap

  .about-doctor__img
    margin: 0

  .about-doctor__content
    width: 410px
    margin: 0 0 75px

  .about-doctor:before
    left: -300px

  .about-doctor__content ul
    padding: 0

  .certificate-sale__box
    margin: 0 auto 40px
    &:last-child
      margin: 0 auto

  .section-contacts
    margin: -150px 0 0

  .specialist__doc
    justify-content: space-around
    .slide
      &:nth-child(3)
        display: none

  .wrapper-content
    .photo-demonstration__doc
      padding: 0 38px
      .slick-next
        right: 0
      .slick-prev
        left: 0
      .slick-arrow
        width: 20px
        height: 35px
    .photo-demonstration__photo
      width: 308px
      height: 412px

@media only screen and (max-width: 992px)
  .specialist-box, .last-blog__box
    &:nth-child(3)
      display: none

  .specialist-content, .last-blog__wrapper
    justify-content: space-around

  .specialist .links-accent
    margin: 0 auto 60px

  .last-blog__img
    height: 238px

  .sale-title
    font-size: 170px

  .name-sale
    font-size: 50px
    max-width: 570px
    margin: 0 auto 25px

  .section-sale
    padding: 47px 0 31px

  .section-contacts
    padding: 198px 0 104px

  footer .button-group
    width: 100%
    flex-direction: row
    align-items: center
    margin: 30px 0 0
    order: 1
    .btn
      margin: 0 60px 0 0
      &:last-child
        margin: 0

  .footer-bottom
    padding: 19px 0 44px

  .footer-menu__item
    margin: 0 45px 0 0
    &:last-child
      margin: 0

@media only screen and (max-width: 890px)
  .header-bottom
    .menu
      display: none

  .btn-menu__mobile
    display: flex
    align-items: center
    justify-content: center
    color: #fff
    padding: 10px 0
    font-size: 20px
    font-weight: 600
    margin: 0 auto
    &:after, &:before
      content: ''
      width: 0
      height: 0
      border-left: 10px solid transparent
      border-right: 10px solid transparent
      border-top: 10px solid #fff
      display: inline-block
    .text
      margin: 0 114px

  header
    .list-social
      display: flex

    .header-contacts
      display: none

  .menu-main
    width: 100%
    flex-direction: column
    align-items: center
    padding: 39px 0
    border:
      top: 1px solid rgba(#000, .1)
      bottom: 1px solid rgba(#000, .1)

  .menu-main__item
    margin: 0 0 40px
    &:last-child
      margin: 0

  header
    .container
      padding: 0 50px

  .btn-close
    margin: 0 0 36px

  .menu-main__nav
    padding: 10px 50px 117px
    .address, .form-search, .schedule
      display: flex
      color: #4d4d4d
    .schedule
      margin: 0 0 50px
    .address
      margin: 40px 0 28px

  .reviews .line
    margin: 30px 0 0

  .about-doctor__img
    margin: 0 0 0 -25px

  .about-doctor__content
    max-width: 405px

  .about-doctor
    margin: -100px 0 59px

  .about .text-box
    width: 100%
    p
      margin: 0 0 20px
      &:last-child
        margin: 0

  .form-box
    padding: 0
    width: 100%
    margin: 0 auto 25px

  .form-wrapper
    flex-direction: column
    align-items: center

  .form-box__time
    label
      margin: 20px 0 0

  .modal__div .modal__wrapper
    max-width: 700px

  h1
    font-size: 35px
    padding: 0 0 27px
    margin: 0 0 30px

  .breadcrumbs-wrapper
    margin: 30px 0 48px

@media only screen and (max-width: 810px)
  .sale-title
    font-size: 100px
    margin: 0 auto -60px

  .name-sale
    font-size: 30px

  .sale-slider__box .description
    font-size: 18px

  .main-page__slider-description
    width: 575px

  .btn-selection
    display: none

  .main-page__slider-img
    margin: 0 0 0 -42px

@media only screen and (max-width: 768px)
  .main-slider__title
    font-size: 40px
    letter-spacing: 2px
    padding: 0 0 25px
    line-height: 1.1

  .main-slider .slide
    padding: 40px 0 80px

  .main-slider__content
    max-width: 400px

  .main-slider__text
    font-size: 23px
    margin: 29px 0 40px

  .slick-dots
    bottom: 19px

  .main-slider__img
    height: 100%
    width: 799px
    margin: 0 -85px 0 0
    img
      width: 100%
      height: 100%
      object-fit: cover

  .why-are__box
    width: 100%
    .icon
      margin: 0 17px 0 0

  .popular-treatments__box
    width: 50%

  .slick-arrow
    width: 20px
    height: 35px

  .slick-prev
    left: 0

  .slick-next
    right: 0

  .photo-demonstration
    padding: 51px 0 70px

  .photo-demonstration__slider
    padding: 0 37px 66px

  .about-doctor__img
    width: 300px

  .about-doctor__content
    font-size: 14px
    max-width: 360px

  .about-doctor
    h2
      font-size: 22px
    h5
      font-size: 16px

  .footer-menu__links
    font-size: 14px

  .footer-menu__item
    margin: 0 20px 0 0
    &:last-child
      margin: 0

  .prescription-box
    width: 100%
    margin: 0 0 50px
    &:last-child
      margin: 0

  .other-services__content
    padding: 0 0 160px
    .slick-arrow
      top: auto
      transform: translate(0)
      bottom: 70px
    .slick-prev
      left: 40%
    .slick-next
      right: 40%


  .solve-problems ul li, .category-services__hidden ul li
    width: 50%

  .category-services__hidden ul li
    margin: 0 0 7px


  .w-25:hover .category-services__hidden
    padding: 15px 20px

  .main-page__doc .list-characteristics li
    flex-wrap: wrap


@media only screen and (max-width: 750px)
  .main-page__slider-description
    width: 350px
    height: 106px
    .size-sale
      display: none

    .services-sale__name
      font-size: 22px



@media only screen and (max-width: 710px)
  header .container
    padding: 0 15px

  h2
    font-size: 35px
    letter-spacing: 1.05px

  .clinic-video
    width: 100%

  .bg-overlay1
    width: calc(100% - 20px)

  .bg-overlay3
    width: calc(100% - 60px)

  .bg-overlay2
    width: calc(100% - 40px)

  .photo-demonstration__photo, .wrapper-content .photo-demonstration__photo
    width: 49%
    height: 330px

  .breadcrumbs-wrapper
    margin: 20px 0 30px

  .main-page__slider-img
    margin: 0 auto

  .main-page__slider-box
    height: 350px

  .sale-box
    width: 75px
    height: 75px
    font-size: 25.5px
    letter-spacing: 1.28px
    &:before
      width: calc(100% - 6px)
      height: calc(100% - 6px)
    sub
      font-size: 14px
      letter-spacing: 0.7px

  .tools-services__box ul li
    width: 100%

  .section-contacts
    margin: -180px 0 0

  .specialist__doc .slide:nth-child(2)
    display: none

@media only screen and (max-width: 675px)
  .about-doctor__content
    max-width: none
    width: 100%
    margin: 0 0 20px
    order: -1

  .about-doctor__img
    width: 260px
    margin: 0 auto

  .about-doctor
    padding: 130px 0 0
    &:before
      left: -140px
    .btn
      margin: 0 auto
    h2
      text-align: center

  .specialist-box, .last-blog__box
    &:nth-child(2)
      display: none

  footer
    .header-contacts
      width: 100%
      margin: 20px auto 0
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
    .button-group
      justify-content: space-around
      .btn
        margin: 0

  .tabs__content
    width: calc(100% - 230px)


@media only screen and (max-width: 650px)
  .links-header
    font-size: 14px
    padding: 10px 13px

  .btn-burger
    width: 27px
    height: 18px

  .btn
    font-size: 14px
    width: 195px
    height: 35px

  .phone
    font-size: 16px

  .logo
    width: 150px

  .footer-menu
    justify-content: space-around
    width: 100%

  .footer-menu__item
    margin: 0

  .w-100-mobile
    width: 100%


  .category-services__box-column .category-services__box
    height: 250px
    margin: 0 0 20px
    &:last-child
      margin: 0

  .category-services__box
    height: 250px
    &:last-child
      margin: 0

  .category-services__box:hover .category-services__hidden
    padding: 20px
    .name
      font-size: 20px
    ul
      margin: 20px 0 0

  .solve-problems ul li
    width: 100%

@media only screen and (max-width: 575px)
  .header-call
    width: 100%
    margin: 20px auto 0
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    .line
      justify-content: center
      align-items: center
    .whatsapp
      margin: 0 0 0 10px

  .main-slider__img
    width: 100%
    margin: 0

  .main-slider__title
    font-size: 30px

  .main-slider__text
    font-size: 18px
    margin: 20px 0 30px

  h3
    font-size: 24px

  h2
    font-size: 30px

  .photo-demonstration__photo, .wrapper-content .photo-demonstration__photo
    height: 270px

  .about-doctor:before
    left: -225px

  .sale-title
    letter-spacing: 2px
    font-size: 90px

  .name-sale
    font-size: 24px

  .sale-slider
    padding: 0 20px

  .form label
    width: 100%

  .form-box__time
    max-width: 408px
    width: 100%

  h1
    font-size: 30px

  .list-characteristics li
    width: 100%

  .menu-scroll
    justify-content: space-around
    li
      margin: 0 5px 3px 0

  .main-page__slider-img
    height: 100%
    width: 100%
    object-fit: cover

  .main-page__slider .slick-arrow
    bottom: auto
    top: 0

  .main-page__slider-description
    width: 280px
    right: auto
    left: 50%
    transform: translate(-50%,0)
    .services-sale__name
      font-size: 18px

  .main-page__slider .slick-prev
    left: 20px

  .main-page__slider .slick-next
    left: 74px

  .clinic-about-video .clinic-video
    width: 100%
    .bg-overlay3
      width: calc(100% - 60px)
    .bg-overlay2
      width: calc(100% - 40px)
    .bg-overlay1
      width: calc(100% - 20px)

  .tools-services__box
    width: 100%
    margin: 0 0 30px
    &:last-child
      margin: 0

  .tools-services
    padding: 60px 0

  .main-page__doc-img
    width: 150px

  .tabs__content
    width: calc(100% - 110px)

  .tabs__caption
    margin: 0
    justify-content: flex-start
    li
      width: 50%
      text-align: center


@media only screen and (max-width: 480px)
  .links-header
    font-size: 12px

  .mobile-menu .drop-menu__list .item-links, .mobile-menu .drop-menu__list-submenu li a, .drop-menu h5
    font-size: 16px

  .mobile-menu .menu__links
    font-size: 18px

  .mobile-menu .drop-menu__list-submenu
    padding: 0 0 0 70px

  .mobile-menu .drop-menu__list .item-links
    padding: 24px 0 24px 20px

  .mobile-menu .drop-menu
    padding: 0 0 0 15px

  .popular-treatments__box
    width: 100%

  .photo-demonstration__photo, .wrapper-content .photo-demonstration__photo
    height: 200px

  .main-page
    .button-group
      flex-direction: column
      align-items: flex-start
      .btn
        margin: 0 0 10px

  .popular-question__box .panel_heading
    .block_title
      font-size: 18px

  .popular-question__box .button-group
    flex-direction: column
    align-items: center
    .btn
      margin: 0 0 10px

  .block_title:after
    width: 18px
    height: 15px
    min-width: 18px

@media only screen and (max-width: 440px)
  footer .button-group
    flex-direction: column
    align-items: center
    .btn
      margin: 0 auto 10px

  .footer-menu__item
    width: 50%
    margin: 0 0 5px

  .footer-menu
    justify-content: space-between



@media only screen and (max-width: 420px)
  .menu-main__nav, .mobile-menu
    padding: 10px 25px 30px

  .menu-main__item
    margin: 0 0 20px

  .header-top .container
    flex-wrap: wrap

  .links-call
    width: 100%
    text-align: center
    border: none
      top: 1px solid rgba(0, 0, 0, 0.1)

  .btn-menu__mobile .text
    margin: 0 50px

  .slick-arrow
    width: 15px
    height: 28px

  .photo-demonstration__slider
    padding: 0 20px 30px

  .about-doctor:before
    left: -260px

  .sale-title
    margin: 0 auto -50px
    font-size: 70px

  .name-sale
    font-size: 22px

  .list-social__section li
    margin: 0 20px 0 0
    &:last-child
      margin: 0

  .box-contacts
    width: 280px
    font-size: 14px
    .phone
      font-size: 18px

  .wrapper
    .reviews .line
      flex-direction: column
      align-items: center
      .btn
        margin: 0 0 10px

  .wrapper-content .photo-demonstration__doc
    padding: 0

  .tabs__content
    width: 100%

  .main-page__doc-img
    position: relative
    margin: 0 auto

  .main-page .button-group
    margin: 0 auto 20px


@media only screen and (max-width: 360px)
  .list-social li
    margin: 0 10px 0 0
    &:last-child
      margin: 0

  .logo
    width: 120px

  .main-slider__title
    font-size: 26px
    letter-spacing: 1px

  .main-slider__text
    font-size: 16px

  .slick-dots li
    width: 20px
    height: 3px

  .photo-demonstration__photo, .wrapper-content .photo-demonstration__photo
    height: 180px



  .period-photo, .wrapper-content .period-photo
    font-size: 10px
    width: 40px
    height: 40px

  .reviews-box
    width: 290px
    height: 270px
    font-size: 14px

  .reviews-box__top
    font-size: 16px

  .reviews .line .strip
    margin: 0 20px

  .about-doctor:before
    left: -300px

  .specialist-box .name
    font-size: 15px

  .specialist-box__content
    font-size: 14px

  .sale-title
    font-size: 60px
    margin: 0 auto -40px


  .other-services__box
    width: 100%

  .certificate-sale__box
    width: 290px
    height: 214px
    &:before
      width: 271px